langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
pandas
openai
duckdb
langchain_chroma
faiss-cpu
langchain_huggingface
sentence_transformers
chromadb
langchain-text-splitters
wikipedia
pymupdf
arxiv
bs4
pypdf
ipykernel
arxiv
mysql-connector-python
SQLALchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube